{% extends "layout.html" %}

{% block title %}CDN管理{% endblock %}

{% block link %}
<link href="{{ url_for('static', filename='bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block emputyurl %}/emputy{% endblock %}
{% block cardtitle %}测试模板空页面{% endblock %}
{% block cardhead %}
        Empty Page <small>Create new page.</small>
{% endblock %}
{% block cardtab %}Emputy{% endblock %}
{% block isactive %}active{% endblock %}
{% block cardbody %}<h1>testbody</h1>{% endblock %}
