{% extends "layout.html" %}
{% block title %}CDN管理{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block customisactive %}active-menu waves-effect waves-dark{% endblock %}
 {% block loginuser %}{{login_user}}{% endblock %}
{% block content %}
<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
          <div class="header">

          <h1 class="page-header">
               自定义页面 <small>新页面</small>
          </h1>
                <ol class="breadcrumb">

                      <li><a href="{{url_for('cdn.custom') }}">自定义</a></li>
                      <li class="active">数据</li>
                </ol>

        </div>
            <div id="page-inner">

              <div class="row">

                <div class="col-md-12">
                {{price}}
                    <a href="https://42.62.120.210:8989/">connect client</a>
                    <a href=https://sojump.com/jq/16409952.aspx>调查问卷</a>
                </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. row  -->
            <footer><p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="#"></a></p></footer>
        </div>
     <!-- /. page-inner  -->
     </div>
     <!-- /. page-wrapper  -->

  <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>


  <script src="/static/assets/js/easypiechart.js"></script>
  <script src="/static/assets/js/easypiechart-data.js"></script>

    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>

{% endblock %}
