<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/temp/favicon.ico">
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
   <link href="/static/css/fonts.googleapis.com.css"  rel='stylesheet' type='text/css' />
    {% block link %}{% endblock %}
    <style type="text/css">
        {% block style %}{% endblock %}
    </style>
    <!-- JS Scripts block-->
    {% block scripts %}{% endblock %}
{% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('cdn.home') }}"><i class="fa fa-comments"></i> <strong>CDN管理</strong></a>
                <div id="sideNav" style="background-color:#1cc09f"><i class="fa fa-outdent" ></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>{% block loginuser %}{% endblock %}<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{url_for('cdn.userinfo')}}"><i class="fa fa-user fa-fw"></i>个人信息</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>用户设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{url_for('.logout')}}"><i class="fa fa-sign-out fa-fw"></i>登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="{{url_for('cdn.dashboard') }}" class="{% block dashboardisactive %}{% endblock %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="{{url_for('cdn.tables') }}" class="{% block tablesisactive %}{% endblock %}"><i class="fa fa-table"></i>CDN费用详表</a>
                    </li>
                     <li>
                        <a href="{{url_for('cdn.tablestotal') }}" class="{% block tablestotalisactive %}{% endblock %}"><i class="fa fa-desktop"></i>CDN费用汇总</a>
                    </li>

                     <li>
                        <a href="#" class="{% block domainprojectisactive %}{% endblock %}"><i class="fa fa-sitemap"></i>配置管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url_for('cdn.domainadmin') }}">域名管理</a>
                            </li>
                            <li>
                                <a href="{{url_for('cdn.projectadmin') }}">项目管理</a>
                            </li>
                             <li>
                                <a href="{{url_for('cdn.priceinfo') }}">CDN价格表</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" class="{% block apiisactive %}{% endblock %}"><i class="fa fa-tasks"></i>API使用说明<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url_for('cdn.apiauth') }}">认证接口API</a>
                            </li>
                            <li>
                                <a href="{{url_for('cdn.apiproject') }}">项目管理API</a>
                            </li>
                             <li>
                                <a href="{{url_for('cdn.apidomain') }}">域名管理API</a>
                            </li>

                        </ul>
                    </li>


                     <li>
                        <a class="{% block customisactive %}{% endblock %}" href="{{url_for('cdn.custom') }}"><i class="fa fa-fw fa-file"></i>自定义
                        </a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

    {% block content %}{% endblock %}
    <!-- JS Scripts block-->
    {% block script %}{% endblock %}

    <script type="text/javascript">
    {% block js %}{% endblock %}
    </script>
</body>

</html>
