{% extends "layout.html" %}
{% block title %}项目管理{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
 {% block loginuser %}{{login_user}}{% endblock %}
{% block domainprojectisactive %}active-menu waves-effect waves-dark{% endblock %}
{% block content %}
<div id="page-wrapper">
      <div class="header">
          <h1 class="page-header">项目管理</h1>

          <ol class="breadcrumb">
                <li><a href="{{url_for('cdn.projectadmin') }}">项目</a></li>
                <li class="active">数据</li>
          </ol>
      </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
          <!--   project card -->
            <div class="card">
                <div class="card-action">
                <button type="button" style="height:20px" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#create-project">新增项目</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                     <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
                     </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th >项目名称</th>
                                <th >修改</th>
                                <th >删除</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for pro in projects %}
                                <tr>
                                    <td >{{pro['id']}}</td>
                                    <td >{{pro['project_name']}}</td>
                                    <td >
                            <button type="button"  class="btn btn-primary btn-xs" style="height:20px" data-toggle="modal" data-target="#update-project" data-projectid="{{pro['id']}}" data-projectname="{{pro['project_name']}}" >修改</button>
                                    </td>
                                     <td >
                            <a class="btn btn-primary btn-xs btn-danger"  style="height:20px"  href="/cdn/project/delete/?id={{pro['id']}}" onclick="return confirm('确定删除吗?');">删除</a>
                                     </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         <!-- End project card -->
       </div>
        <!-- /.End row  -->
      <footer><p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="#"></a></p></footer>
    </div>
     <!-- /.End  page-inner  -->
</div>

<!--添加用户框-->
<div class="modal fade" id="create-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <!--div class="modal-dialog" role="document"-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加项目</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="create-project-projectname" class="control-label">项目名称</label>
            <input type="text" class="form-control" id="create-project-projectname">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="create-commit">添加</button>
      </div>
    </div>
  </div>
</div>

<!--添加用户框-->
<div class="modal fade" id="update-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <!--div class="modal-dialog" role="document"-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">更新项目</h4>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="update-project-projectid"/>
          <div class="form-group">
            <label for="update-project-projectname" class="control-label">项目名称</label>
            <input type="text" class="form-control" id="update-project-projectname">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="update-commit">修改</button>
      </div>
    </div>
  </div>
</div>
<!-- /. End page-wrapper  -->

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.12.4.js"></script>

    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>
    <script src="/static/assets/js/easypiechart.js"></script>
    <script src="/static/assets/js/easypiechart-data.js"></script>
    <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
         <!-- DATA TABLE SCRIPTS -->
    <script src="/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/static/assets/js/dataTables/dataTables.bootstrap.js"></script>

    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>
{% endblock %}

{% block js %}
 $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });

jQuery(document).ready(function() {

    jQuery('#create-project').on('show.bs.modal', function (event) {
        jQuery('#create-project-projectname').val('');
    });

    jQuery('#create-commit').on('click', function(){
        var params = {};
        params['projectname'] = jQuery('#create-project-projectname').val();
        jQuery.post('/cdn/project/add/',
            params,
            function(data) {
              if(data['is_ok']){
                alert('创建成功');
                //jQuery('#create-project').modal('hide');
                //window.location.replace('/projectadmin/');
                window.location.reload();
              } else {
                alert(data['error']);
              }
            },
            'json'
        );
    });

 jQuery('#update-project').on('show.bs.modal', function (event) {

        var button = jQuery(event.relatedTarget);
        jQuery('#update-project-projectid').val(button.data('projectid'));
        jQuery('#update-project-projectname').val(button.data('projectname'));
    });

    jQuery('#update-commit').on('click', function(){
        var params = {};
        params['id'] = jQuery('#update-project-projectid').val();
        params['projectname'] = jQuery('#update-project-projectname').val();

        jQuery.post('/cdn/project/update/',
            params,
            function(data) {
              if(data['is_ok']){
                alert('修改成功');
                //jQuery('#update-user').modal('hide');
                //window.location.replace('/users/');
                window.location.reload();
              } else {
                alert(data['error']);
              }
            },
            'json'
        );
    });


});
{% endblock %}
