{% extends "layout.html" %}
{% block title %}域名和项目管理{% endblock %}
 {% block link %}
 <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')}}"  type="text/css" />
 <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-validator/css/bootstrapValidator.min.css')}}"  type="text/css" />
<link rel="stylesheet" href="{{url_for('static',filename='sweet-alert-js/css/sweet-alert.css')}}"  type="text/css" />
 {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
 {% block loginuser %}{{login_user}}{% endblock %}
{% block domainprojectisactive %}active-menu waves-effect waves-dark{% endblock %}
{% block content %}
 <div id="page-wrapper">
    <div class="header">

      <h1 class="page-header">
           域名管理
      </h1>
        <ol class="breadcrumb">

          <li><a href="{{url_for('cdn.domainadmin') }}">域名</a></li>
          <li class="active">数据</li>
        </ol>

    </div>
    <div id="page-inner">

      <div class="row">

        <div class="col-md-12">

            <!--   project card -->
            <div class="card">
                <div class="card-action">
                <button type="button" style="height:20px" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#dialog" data-title="添加域名" data-btn-txt="添加" data-url="/cdn/domain/create/">添加域名</button>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                              <tr>
                                <th >域名</th>
                                <th >所属项目</th>
                                <th >所属CDN</th>
                                <th >开始日期</th>
                                <th >结束日期</th>
                                <th >当前状态</th>
                                <th >域名用途</th>
                                <th >修改</th>
                                <th >删除</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for domain in domains %}
                                <tr>
                                    <td >{{domain['domain_name']}}</td>
                                     {% for  pro in project %}
                                       {% if  pro.id == domain['project_id'] %}
                                    <td >{{pro.project_name}}</td>
                                       {% endif %}
                                    {% endfor %}
                                    <td >{{domain['cname']}}</td>
                                    <td >{{domain['start_date']|datetimeformat("%Y-%m-%d")}}</td>
                                    <td >{{domain['end_date']|datetimeformat("%Y-%m-%d")}}</td>
                                    {% if domain['status'] == 1 %}
                                       <td ><font size="3" color="green">{{domain_status[domain['status']]}}</font></td>
                                    {% else %}
                                      <td ><font size="3" color="red">{{domain_status[domain['status']]}}</font></td>
                                    {% endif %}
                                    <td >{{domain['purpose']}}</td>
                                    <td >
                            <button type="button"  class="btn btn-primary btn-xs" style="height:20px" data-toggle="modal" data-target="#dialog"  data-btn-txt="修改" data-title="更新域名"  data-url="/cdn/domain/update/" data-id="{{domain['id']}}"  >修改</button>
                                    </td>
                                     <td >
                            <a class="btn btn-primary btn-xs btn-danger"  style="height:20px"  href="/cdn/domain/delete/?id={{domain['id']}}" onclick="return confirm('确定删除吗?');">删除</a>
                                     </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          <!-- End project card -->
        </div>
     <!-- /. PAGE INNER  -->
    </div>
 <!-- /. row  -->
 <!-- dialog部分，用于弹出dialog的 data-backdrop="static"设定点击是不消失-->
                   <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  style="padding-right:0px!important;" >
                   <div class="modal-content">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="exampleModalLabel">修改用户</h4>
                      </div>
                      <div class="modal-body">
                         body部分
                   <!--弹出框表单部分 id,sn,ip,hostname,idc_id,purchase_date,warranty,vendor,model,admin,business,cpu,ram,disk,os,status'-->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary " data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary  btn-form-submit">更新</button>
                      </div>
                  </div>
                  </div> <!--dialog-->
    <footer><p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="#"></a></p></footer>
</div>
     <!-- /. page-inner  -->
     </div>

    <!-- JS Scripts-->
    <!-- jQuery Js -->
   <script src="/static/assets/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <script src="/static/assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>


    <script src="/static/assets/js/easypiechart.js"></script>
    <script src="/static/assets/js/easypiechart-data.js"></script>

     <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
         <!-- DATA TABLE SCRIPTS -->
    <script src="/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/static/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sweet-alert-js/js/sweet-alert.min.js') }}"></script>

{% endblock %}
{% block js %}
 $(document).ready(function () {

    $('#dataTables-example').dataTable();
     var timer_interval = null;

    $('#dialog').on('show.bs.modal', function (event) {

      if(!event.relatedTarget) {return;}
        var button = $(event.relatedTarget);
        var title = button.data('title');
        var btn_txt = button.data('btn-txt');
        var url = button.data('url');
        console.log(url);
        console.log(title);

        var that = this;
        $(that).find('.modal-title').text(title);
        $(that).find('.btn-form-submit').text(btn_txt);

        $(that).find('.modal-body').load(url);


    if(title=='更新域名') {
        var domainid = button.data('id');
         console.log(domainid);
        jQuery.get('/cdn/getdomaininfo/'+domainid, function(data) {
        console.log(domainid);
          if(data.id){
              $('#id').val(data.id);
              $('#domain').val(data.domain_name);
              $('#cdn_name').val(data.cname);
              $('#start_date').val(data.start_date);
              $('#end_date').val(data.end_date);
              $('#status_id').val(data.status);
              $('#project_id').val(data.project_id);
              $('#purpose').val(data.purpose);
              } else {
                alert("数据不存在");
              }
        }, 'json')
        //否则就是添加域名，什么也不需要做。
        } else   {
         return;
        }

    });

    jQuery('.btn-form-submit').on('click', function() {
      var _form = jQuery('#dialog').find('form');
      var bootstrapValidator = $(_form).data('bootstrapValidator');
      if (bootstrapValidator) {
          bootstrapValidator.validate();
          if (!bootstrapValidator.isValid()) {return;}
      }

      console.log(_form.attr('action'));

    if(_form.attr('action')=="/cdn/domain/add/") {
        jQuery.post(_form.attr('action'), _form.serializeArray(), function(result) {
            if(result['is_ok']) {
                if(result['success']) {
                    //alert(result['success']);
                    swal({
                        title: result['success'],
                        text: '',
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                        },
                        function(isConfirm){
                            window.location.reload();
                    });
                }
            } else {
                var errors = [];
                for(var key in result['errors']) {
                    errors.push(result['errors'][key]);
                }
                //alert(errors.join('\n'));
                swal({
                        title: "添加失败!",
                        text: errors.join(''),
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    },
                    function(isConfirm){
                    }
                );
            }
        }, 'json')

  } else  if(_form.attr('action')=="/cdn/domain/modify/"){
         jQuery.post(_form.attr('action'), _form.serializeArray(), function(result) {
            if(result['is_ok']) {
                if(result['success']) {
                    //alert(result['success']);
                    swal({
                        title: result['success'],
                        text: '',
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                        },
                        function(isConfirm){
                            window.location.reload();
                    });
                }
            } else {
                var errors = [];
                for(var key in result['errors']) {
                    errors.push(result['errors'][key]);
                }
                //alert(errors.join('\n'));
                swal({
                        title: "修改失败!",
                        text: errors.join(''),
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    },
                    function(isConfirm){
                    window.location.reload();
                    }
                );
            }
        }, 'json')
        }

    });


      });


{% endblock %}
