{% extends "main/base.html" %}
{% block title %}用户注册{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center">用户注册</h1>
             <form method="POST" action="{{ url_for('.register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {% for e in form.username.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.username(class="form-control", required=True) }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {% for e in form.password.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class="form-control", required=True) }}
                </div>
                <div class="form-group">
                    {{ form.confirm.label }}
                    {% if form.confirm.errors %}
                        {% for e in form.confirm.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.confirm(class="form-control", required=True) }}
                </div>

                <div class="form-group">
                    {{ form.tel.label }}
                    {% if form.tel.errors %}
                        {% for e in form.tel.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.tel(class="form-control", required=True) }}
                </div>

                <div class="form-group">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {% for e in form.email.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.email(class="form-control", required=True) }}
                </div>

                <!--input class="btn btn-primary" type="submit" value="Register"   {{ form.submit(class="btn btn-info submit") }}-->
                 <input class="btn btn-info" style="width: 100%;" type="submit" value="注册">

            </form>
            <hr/>
            <div class="register">
                 <a type="button" class="btn btn-info" style="width: 100%;" href="login">已有账号？登录</a>
             </div>

        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
